// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: pink;
  font-weight: 200;
  font-family: Arial;
  font-size: 40px;
}
.letter {
  color: pink;
  font-weight: 100;
  font-family: Arial;
  font-size: 40px;
}

p {
  color: grey;
  font-weight: 200;
  font-family: Arial;
  font-size: 20px;
}

input {
  color: grey;
  font-weight: 200;
  font-family: Arial;
  font-size: 20px;
}


